{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="form-group" style="font-family: 'Arial Rounded MT Bold'; padding-right: 100px; padding-left: 100px">

        <h1>Liste des Inscriptions</h1><br>

        <table class="table" style="border-collapse: collapse;width: 100%;border: 1px solid #ddd;">
            <thead>
            <tr>
                <th style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 8px;text-align: center;">ID de l'inscription</th>
                <th style="border: 1px solid #ddd;padding: 8px;font-family: 'Arial Rounded MT Bold';text-align: center;">Nom de l'employe</th>
                <th style="border: 1px solid #ddd;padding: 8px;text-align: center;font-family: 'Arial Rounded MT Bold';">Produit de la formation</th>
                <th style="border: 1px solid #ddd;padding: 8px;text-align: center;font-family: 'Arial Rounded MT Bold';">statut</th>
                <th style="border: 1px solid #ddd;padding: 8px;text-align: center;font-family: 'Arial Rounded MT Bold';">Accepter</th>
                <th style="border: 1px solid #ddd;padding: 8px;text-align: center;font-family: 'Arial Rounded MT Bold';">Refuser</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription in lesInscriptions %}
                <tr>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;">{{ inscription.id }}</td>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;">{{ inscription.employe.nom }}</td>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;">{{ inscription.formation.produit.libelle }}</td>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;">{{ inscription.statut }}</td>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;"><a class = "btn btn-outline-success me-2" href="{{ path('app_emp_validerInscription', {'id': inscription.id}) }}">Accepter</a></td>
                    <td style="font-family: 'Arial Rounded MT Bold';border: 1px solid #ddd;padding: 5px;text-align: center;"><a class = "btn btn-outline-danger me-2" href="{{ path('app_emp_refuserInscription', {'id': inscription.id}) }}">Refuser</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}